<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Variation</title>
</head>

<body>
    <ul>
        <li><a href="/attr?attr=test">属性値に出力</a></li>
        <li><a href="/attr_esc?attr=test">属性値に出力(エスケープ)</a></li>
        <li><a href="/url?url=/">URLに出力</a></li>
        <li><a href="/dom?name=yoden">DOM操作で出力</a></li>
        <li><a href="/length?attr=test">文字数制限</a></li>
    </ul>
</body>

</html>